<h2>Add a link to bookmarks</h2>

<form action="/links" method="post">
  <label for="title">
    <input type="text" name="title" placeholder="type the site's TITLE" autofocus required>
  </label>
  <label for="url">
    <input type="text" name="url" placeholder="type the site's URL" required>
  </label>
  <input type="submit" value="Submit">
</form>
